<main>
    <h1>Your Profile</h1>
    <p><strong>First Name:</strong> {{firstName}}</p>
    <p><strong>Last Name:</strong> {{lastName}}</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Favorite Genres:</strong> {{favoriteGenres}}</p>
    <h2>Reviews Posted</h2>
    <ul>
        {{#each reviewsPosted}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href="/users/logout">Logout</a>
</main>
