<main>
    <h1>{{title}}</h1>
    <h2>Artist: {{artist}}</h2>
    <p>Album: {{album}}</p>
    <p>Release Date: {{releaseDate}}</p>
    <p>Genre: {{genre}}</p>
    <a href="/reviews/{{spotifyId}}">View Reviews: {{spotifyId}}</a>
    <a href="/">Back to search</a>

</main>
